@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap');

* {
  font-size: 1rem;
}

.Booklist {
  list-style: none;
  padding: 2rem;
}

.Book {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  font-family: 'RobotoSlab', serif;
  padding: 3rem;
  margin: 1rem;
  width: 70vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title {
  font-size: 1.5rem;
}

.category {
  color: grey;
  font-size: 1rem;
}

.author {
  color: #4386bf;
  font-size: 1.2rem;
}

.buttons button {
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  color: #4386bf;
  font-size: 1rem;
}

.buttons button:nth-child(1) {
  padding-left: 0;
}

.buttons button:nth-child(2) {
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
}

.percentage {
  font-size: 2rem;
}

.completed {
  color: grey;
}

.progress {
  border-left: 1px solid #e8e8e8;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.progressText {
  color: grey;
}

.progreso {
  display: flex;
  gap: 1rem;
}

.percent {
  height: 5rem;
}

.updateBtn {
  background-color: #0290ff;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0.3rem;
}
