* {
  margin: 0;
  padding: 0;
}

.App {
  height: 98vh;
  width: 100vw;
}

.HomePage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem;
}
